@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');
h2, p {
    font-family:'Cormorant', serif;
    background: rgb(233,233,224);
    text-align: center;
    border-top: 1px solid black;
}

section {
    background: rgb(233,233,224);
   
}

